//colors

$red-color: #C8122E;
$text-color: #0A1118;
$orange : #EDAB5E;
$bg-color: #F4F4F4;
$white: #fff;

//fonts
$global-font: 'Source Sans Pro', sans-serif;

//font-size
$header-font: 60px;
$h2-font-size: 40px;
$h3-font-size: 18px;
$h4-font-size: 40px;

//font-weight
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
