.banner-section {
	position: relative;
	padding: 40px 0;
	.lhs {		
		height: 540px;		
		position: absolute;
		width: 50%;		
		.text-block {
			top: 50%;
			position: relative;
			left: 50%;
			transform: translate(-37%, -50%);			
			h1 {
				margin-bottom: 10px;				
			}
			p {
				color: $bg-color;
			}
			.trans {		
			    width: 100%;
			    height: auto;
			    position: absolute;
			    top: -175px;
			    left: -13%;
			    z-index: -1;
			    background: rgba(192, 192, 192, 0.6);
			}
		 }
		}	
	.rhs {
		background-image: url('../img/banner.jpg');
		background-size: cover;
		height: 530px;	
	}	
}