.building-southeast {
	padding: 50px 0;
	.lhs {
		float: left;
		@media (min-width: 0px) and (max-width: 767px) {
			float: none;
		}
	}
	.rhs {
		width: 50%;
		float: right;
		@media (min-width: 0px) and (max-width: 767px) {
			width: 100%;
			float: none;
		}
		h2, p {
			margin-bottom: 15px;
		}
	}
	.know-more-cta {
		background-color: $text-color;
		a {
			text-transform: uppercase;
			font-weight: $light;
		}
		@media (min-width: 0px) and (max-width: 767px) {
			display: table;
			margin: 0 auto;
		}		
	}
	&.south {
		background-color: $bg-color;
		.lhs {
			width: 50%;
			@media (min-width: 0px) and (max-width: 767px) {
				width: 100%;
			}
			.three-div {
				.first {
					padding: 20px;
					background-color: $white;
					margin-bottom: 20px;
					transition: all 0.1s ease-out;
					p {
						&.title {
							margin-bottom: 10px;
							font-weight: $semibold;
							color: $text-color;
						}
						&.descr {
							font-weight: $light;							
						}
					}
					&:hover {
						background-color: $orange;
						cursor: pointer;
						transition: all 0.1s ease-out;
						p {
							color: $white;
						}
					}
				}
			}
		}
		.rhs {
			padding : 30px;
			.text-block {
				h2 {
					font-weight: $semibold;
				}
				p {
				 
				}
			}
		}	
	}
	&.family {
		background-color: $text-color;
		padding: 0;
		position: relative;
		.lhs {
			width: 50%;
			@media (min-width: 0px) and (max-width: 767px) {
				width: 100%;
			}
			.content-wrapper {
				padding: 47px;
				@media (min-width: 0px) and (max-width: 767px) {
					padding: 14px;
				}
				h2 {
			  		color: $white;
			  	}
				.wrapper {
					p {
				  		color: #f4f4f4;
				  		margin-bottom: 10px;
				  		padding: 20px 0 0 60px;
				  		line-height: 125%;
				  		@media (min-width: 0px) and (max-width: 767px) {
							padding: 20px;
						}
					  		&:before {
				  			background: url('../img/tick.svg') no-repeat;
				  			content: '';
				  			position: absolute;
				  			width: 20px;
				  			height: 20px;
				  			left: 170px;
				  			margin-top: 10px;
				  			@media (min-width: 0px) and (max-width: 767px) {
								left: 9px;
							}
				  		}
			  	 	}
				}
		  	}	 
		}
	}
}