/* Custom Mixins -------------------- */
/* Base Styles -------------------- */
*, ul, li {
  padding: 0;
  margin: 0; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  background-color: #fff;
  font-weight: 400;
  line-height: 125%; }

a, a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none; }

*, *::before, *::after {
  box-sizing: border-box; }

.h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2;
  font-family: 'Source Sans Pro'; }

.h2 {
  font-size: 40px;
  line-height: 1.2;
  font-family: 'Source Sans Pro'; }

.h3 {
  font-size: 18px;
  color: #F4F4F4;
  line-height: 1.2;
  font-family: 'Source Sans Pro'; }

p {
  font-size: 16px;
  color: #F4F4F4;
  line-height: 125%;
  font-weight: 600;
  font-family: 'Source Sans Pro'; }

.container {
  max-width: 1140px;
  margin: 0 auto; }

.clearfix::after {
  display: block;
  clear: both;
  content: ""; }

img {
  display: block;
  width: 100%; }

i {
  padding-right: 10px; }
  i.fa.fa-search {
    font-size: 12px;
    color: #f0f8ff; }

.primary-cta {
  padding: 10px;
  display: inline-block; }
  .primary-cta a {
    color: #fff; }

.footer li {
  padding-right: 10px; }
  .footer li a {
    color: #F4F4F4; }

#Header {
  background-color: #fff;
  padding: 20px 0; }
  #Header .logo {
    float: left; }
  #Header .menu-wrapper {
    float: right; }
    #Header .menu-wrapper ul {
      display: inline-block; }
      #Header .menu-wrapper ul li {
        display: inline-block;
        vertical-align: middle;
        padding-right: 20px; }
        #Header .menu-wrapper ul li a {
          color: #0A1118;
          text-transform: uppercase;
          font-size: 15px; }
    #Header .menu-wrapper .primary-cta {
      background-color: #C8122E; }

.banner-section {
  position: relative;
  padding: 40px 0; }
  .banner-section .lhs {
    height: 540px;
    position: absolute;
    width: 50%; }
    .banner-section .lhs .text-block {
      top: 50%;
      position: relative;
      left: 50%;
      -webkit-transform: translate(-37%, -50%);
              transform: translate(-37%, -50%); }
      .banner-section .lhs .text-block h1 {
        margin-bottom: 10px; }
      .banner-section .lhs .text-block p {
        color: #F4F4F4; }
      .banner-section .lhs .text-block .trans {
        width: 100%;
        height: auto;
        position: absolute;
        top: -175px;
        left: -13%;
        z-index: -1;
        background: rgba(192, 192, 192, 0.6); }
  .banner-section .rhs {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    height: 530px; }

.building-southeast {
  padding: 50px 0; }
  .building-southeast .lhs {
    float: left; }
    @media (min-width: 0px) and (max-width: 767px) {
      .building-southeast .lhs {
        float: none; } }
  .building-southeast .rhs {
    width: 50%;
    float: right; }
    @media (min-width: 0px) and (max-width: 767px) {
      .building-southeast .rhs {
        width: 100%;
        float: none; } }
    .building-southeast .rhs h2, .building-southeast .rhs p {
      margin-bottom: 15px; }
  .building-southeast .know-more-cta {
    background-color: #0A1118; }
    .building-southeast .know-more-cta a {
      text-transform: uppercase;
      font-weight: 300; }
    @media (min-width: 0px) and (max-width: 767px) {
      .building-southeast .know-more-cta {
        display: table;
        margin: 0 auto; } }
  .building-southeast.south {
    background-color: #F4F4F4; }
    .building-southeast.south .lhs {
      width: 50%; }
      @media (min-width: 0px) and (max-width: 767px) {
        .building-southeast.south .lhs {
          width: 100%; } }
      .building-southeast.south .lhs .three-div .first {
        padding: 20px;
        background-color: #fff;
        margin-bottom: 20px;
        -webkit-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out; }
        .building-southeast.south .lhs .three-div .first p.title {
          margin-bottom: 10px;
          font-weight: 600;
          color: #0A1118; }
        .building-southeast.south .lhs .three-div .first p.descr {
          font-weight: 300; }
        .building-southeast.south .lhs .three-div .first:hover {
          background-color: #EDAB5E;
          cursor: pointer;
          -webkit-transition: all 0.1s ease-out;
          transition: all 0.1s ease-out; }
          .building-southeast.south .lhs .three-div .first:hover p {
            color: #fff; }
    .building-southeast.south .rhs {
      padding: 30px; }
      .building-southeast.south .rhs .text-block h2 {
        font-weight: 600; }
  .building-southeast.family {
    background-color: #0A1118;
    padding: 0;
    position: relative; }
    .building-southeast.family .lhs {
      width: 50%; }
      @media (min-width: 0px) and (max-width: 767px) {
        .building-southeast.family .lhs {
          width: 100%; } }
      .building-southeast.family .lhs .content-wrapper {
        padding: 47px; }
        @media (min-width: 0px) and (max-width: 767px) {
          .building-southeast.family .lhs .content-wrapper {
            padding: 14px; } }
        .building-southeast.family .lhs .content-wrapper h2 {
          color: #fff; }
        .building-southeast.family .lhs .content-wrapper .wrapper p {
          color: #f4f4f4;
          margin-bottom: 10px;
          padding: 20px 0 0 60px;
          line-height: 125%; }
          @media (min-width: 0px) and (max-width: 767px) {
            .building-southeast.family .lhs .content-wrapper .wrapper p {
              padding: 20px; } }
          .building-southeast.family .lhs .content-wrapper .wrapper p:before {
            background: url("../img/tick.svg") no-repeat;
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            left: 170px;
            margin-top: 10px; }
            @media (min-width: 0px) and (max-width: 767px) {
              .building-southeast.family .lhs .content-wrapper .wrapper p:before {
                left: 9px; } }

#Footer {
  background-color: #fff;
  padding: 30px 0; }
  #Footer .copyright {
    width: 33.3%;
    float: left; }
    #Footer .copyright .logo a {
      display: inline-block;
      vertical-align: middle; }
      #Footer .copyright .logo a img {
        width: auto; }
    #Footer .copyright .logo p {
      display: inline-block;
      vertical-align: middle; }
  #Footer .contact-us {
    width: 33.3%;
    float: left;
    padding-top: 10px; }
    #Footer .contact-us li {
      display: inline-block; }
  #Footer .rhs {
    width: 33.3%;
    float: right;
    padding-top: 10px;
    text-align: right; }
    #Footer .rhs .social-links li {
      display: inline-block;
      vertical-align: middle; }
